.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    /* Adjust as needed */
    z-index: 1000;
    /* Ensures it's above other content */
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.content {
    position: relative;
}

.content h2 {
    position: absolute;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 8em;
}

.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

/* Responsive for SHUBHAM name */
@media only screen and (max-width: 600px) {
    .content h2 {
        font-size: 4em;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .content h2 {
        font-size: 5em;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .content h2 {
        font-size: 6em;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .content h2 {
        font-size: 7em;
    }
}

@media only screen and (min-width: 1201px) {
    .content h2 {
        font-size: 8em;
    }
}

.sub-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.inner-sub-content h2 {
    font-size: 10em;
    font-weight: 700;
}


/* Responsive for FULL STACK DEVELOPER name*/
@media only screen and (max-width: 600px) {
    .inner-sub-content h2 {
        font-size: 4em;
    }

    .sub-content {
        height: 50px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .inner-sub-content h2 {
        font-size: 5em;

    }

    .sub-content {
        height: 80px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .inner-sub-content h2 {
        font-size: 6em;
    }

    .sub-content {
        height: 100px;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .inner-sub-content h2 {
        font-size: 7em;
    }

    .sub-content {
        height: 140px;
    }
}

@media only screen and (min-width: 1201px) {
    .inner-sub-content h2 {
        font-size: 10em;
    }
}

.animatedImage {
    margin-top: 120px;
}

.aboutme-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.first-inner-aboutme-content {
    width: 700px;
    padding: 25px;
    background-image: linear-gradient(to right, #EEF7FF, #fff);
    font-size: 18px;
    border-radius: 32px 32px 32px 32px;
    margin-right: 200px;
}

.second-inner-aboutme-content img {
    width: 300px;
    height: 300px;
}

.animate-image {
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 2s, opacity 2s;
}

.animate-image.visible {
    opacity: 1;
    transform: translateY(0);
}

/* risponsive for animated ABOUT ME */
@media only screen and (max-width: 600px) {
    .aboutme-content {
        display: block;
        height: 500px;
    }

    .first-inner-aboutme-content {
        width: 350px;
        padding: 15px;
        font-size: 16px;
        margin-top: 50px;
    }

    .first-inner-aboutme-content p {
        height: 100px;
        overflow: auto;
    }

    .second-inner-aboutme-content img {
        width: 200px;
        height: 200px;
        margin-left: 70px;
    }
}

/* responsive for ABOUT ME  */

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .first-inner-aboutme-content {
        margin-right: 0px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .first-inner-aboutme-content {
        margin-right: 0px;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .first-inner-aboutme-content {
        margin-right: 0px;
    }
}

@media only screen and (min-width: 1201px) {
    .first-inner-aboutme-content {
        margin-right: 0px;
    }
}

.expBtn1:focus {
    border: none;
}

.expBtn2:focus {
    border: none;
}

#experiance {
    font-size: 2em;
}

.skillimg {
    height: 90px;
    width: 90px;
}

.skill-container {
    width: 900px;
    padding: 50px;
    margin-top: 20px;
    /* background-color: #CDE8E5; */
}

.letsTalk {
    width: 100%;
    padding: 50px;
    background-color: #EEF7FF;
}

.letsTalkImg {
    width: 50%;
}

.letsTalkForm {
    border-block-end-width: 100%;
}

@media only screen and (max-width: 768px) {
    .letsTalk {
        padding: 20px;
    }

    .letsTalkImg {
        width: 100%;
    }

    .letsTalkForm {
        width: 100%;
    }

    .mt-4 {
        text-align: center;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .letsTalk {
        padding: 30px;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .letsTalk {
        padding: 40px;
    }
}

@media only screen and (min-width: 1201px) {
    .letsTalk {
        padding: 50px;
    }
}